includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

rules:
    - Ergebnis\PHPStan\Rules\Closures\NoNullableReturnTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Closures\NoParameterWithNullableTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Functions\NoNullableReturnTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Functions\NoParameterWithNullableTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Functions\NoParameterWithNullDefaultValueRule
#    - Ergebnis\PHPStan\Rules\Methods\NoConstructorParameterWithDefaultValueRule
#    - Ergebnis\PHPStan\Rules\Methods\NoNullableReturnTypeDeclarationRule
    - Ergebnis\PHPStan\Rules\Methods\NoParameterWithNullableTypeDeclarationRule
#    - Ergebnis\PHPStan\Rules\Methods\NoParameterWithNullDefaultValueRule

services:
    -
        class: Ergebnis\PHPStan\Rules\Classes\FinalRule
        arguments:
            allowAbstractClasses: true
            classesNotRequiredToBeAbstractOrFinal: []
        tags:
            - phpstan.rules.rule
    -
        class: Ergebnis\PHPStan\Rules\Classes\NoExtendsRule
        arguments:
            classesAllowedToBeExtended:
                - PhpNsFixer\Console\Command
                - Symfony\Component\Console\Command\Command
                - Symfony\Component\EventDispatcher\Event
        tags:
            - phpstan.rules.rule
